{% extends "base.html" %}

{% block content %}
{% load static %}

<link href="{% static "css/terms_of_use.css" %}" rel="stylesheet" type="text/css"/>


<div class="terms-container">
  <h1>Terms and Conditions</h1>
  <p>Last updated: [13/07/2024]</p>

  <h2>1. Salmos 91:</h2>
  <p>Aquele que habita no esconderijo do Altíssimo, à sombra do Onipotente descansará.</p>
  <p>Direi do Senhor: Ele é o meu Deus, o meu refúgio, a minha fortaleza, e nele confiarei.</p>
  <p>Porque ele te livrará do laço do passarinheiro, e da peste perniciosa.</p>
  <p>Ele te cobrirá com as suas penas, e debaixo das suas asas te confiarás; a sua verdade será o teu escudo e broquel.</p>
  <p>Não terás medo do terror de noite nem da seta que voa de dia.</p>
  <p>Nem da peste que anda na escuridão, nem da mortandade que assola ao meio-dia.</p>
  <p>Mil cairão ao teu lado, e dez mil à tua direita, mas não chegará a ti.</p>
  <p>Somente com os teus olhos contemplarás, e verás a recompensa dos ímpios.</p>
  <p>Porque tu, ó Senhor, és o meu refúgio. No Altíssimo fizeste a tua habitação.</p>
  <p>Nenhum mal te sucederá, nem praga alguma chegará à tua tenda.</p>
  <p>Porque aos seus anjos dará ordem a teu respeito, para te guardarem em todos os teus caminhos.</p>
  <p>Eles te sustentarão nas suas mãos, para que não tropeces com o teu pé em pedra.</p>
  <p>Pisarás o leão e a cobra; calcarás aos pés o filho do leão e a serpente.</p>
  <p>Porquanto tão encarecidamente me amou, também eu o livrarei; pô-lo-ei em retiro alto, porque conheceu o meu nome.</p>
  <p>Ele me invocará, e eu lhe responderei; estarei com ele na angústia; dela o retirarei, e o glorificarei.</p>
  <p>Fartá-lo-ei com longura de dias, e lhe mostrarei a minha salvação.</p>

  <h2>2. Salmos 126:</h2>
  <p>Quando o SENHOR trouxe do cativeiro os que voltaram a Sião, estávamos como os que sonham.</p>
  <p>Então a nossa boca se encheu de riso e a nossa língua de cântico; então se dizia entre os gentios: Grandes coisas fez o Senhor a estes.</p>
  <p>Grandes coisas fez o Senhor por nós, pelas quais estamos alegres.</p>
  <p>Traze-nos outra vez, ó Senhor, do cativeiro, como as correntes das águas no sul.</p>
  <p>Os que semeiam em lágrimas segarão com alegria.</p>
  <p>Aquele que leva a preciosa semente, andando e chorando, voltará, sem dúvida, com alegria, trazendo consigo os seus molhos.</p>


</div>

{% endblock %}