{% extends "base.html" %}

{% block content %}
{% load static %}

<link href="{% static "css/terms_of_use.css" %}" rel="stylesheet" type="text/css"/>


<div class="terms-container">
  <h1>Termos e Condições</h1>

  <h2>
    TERMO DE DOAÇÃO E TROCA DE LIVROS – BARTER OUT
  </h2>

  <p>
    Ao utilizar a plataforma Barter Out, o Doador declara estar ciente e de acordo com os termos abaixo:
    1. Objeto
    Este termo regula a doação voluntária de livros pelo usuário, denominado Doador, à plataforma Barter
    Out, bem como a possibilidade de receber outro livro em troca mediante crédito interno e pagamento
    das taxas de logística.
    2. Doação do Livro
    2.1. A doação do livro é totalmente voluntária, sem qualquer tipo de vínculo comercial ou obrigação de
    contraprestação financeira pela Barter Out.
    2.2. Ao confirmar a doação, o Doador autoriza a Barter Out a coletar o livro no endereço informado,
    mediante pagamento de uma pequena taxa de retirada.
    2.3. O Doador declara que o livro doado está em condições adequadas de uso e leitura.
    3. Transferência de Propriedade
    3.1. Após a coleta, o livro passa a ser propriedade da Barter Out, que poderá disponibilizá-lo para troca
    entre usuários.
    3.2. O Doador não poderá reivindicar o livro após a conclusão da doação.
    4. Sistema de Troca
    4.1. Ao doar um livro, o Doador recebe um crédito interno equivalente ao valor estipulado pela Barter
    Out.
    4.2. Esse crédito permite ao Doador selecionar outro livro disponível na plataforma.
    4.3. Para receber o novo livro, o Doador deverá pagar apenas a taxa de envio, sem qualquer outro
    custo adicional.
    5. Logística
    5.1. A Barter Out realizará a retirada do livro doado e o envio do livro escolhido mediante pagamento
    das taxas de logística informadas no momento da transação.
    5.2. As taxas têm caráter exclusivo de custeio operacional, não representando venda de produto ou
    serviço editorial.
    6. Responsabilidades do Doador
    6.1. O Doador é responsável por fornecer informações corretas de endereço para retirada e entrega.
    6.2. O Doador concorda em seguir as regras da Barter Out, incluindo prazos de coleta, condições
    mínimas dos livros e política de créditos.
    7. Aceite do Termo
    Ao marcar a opção “Li e Aceito”, o Doador confirma que:
    - está doando o livro de forma livre e espontânea;
    - compreende que receberá créditos internos para troca, não valores financeiros;
    - aceita o pagamento das taxas de retirada e envio;
    - concorda com todas as condições descritas neste termo;
    - reconhece que Barter Out é uma plataforma de trocas, não de vendas.
  </p>


</div>

{% endblock %}