{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Confirmar oferta
        </div>
        <div class="card-body">
            <h5 class="card-title">Produto: {{ user_product.product_name }}</h5>
            <p class="card-text">Você recebeu a oferta de {{ user_product.tcm_payment }} TCM por esse produto. Você aceita a oferta?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="accept" class="btn btn-success">Accept</button>
                <button type="submit" name="reject" class="btn btn-danger">Reject</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
