{% extends "base.html" %}

{% block content %}

<section class="section-content padding-y" style="margin-top: -40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="info-box">
          <h2>Obrigado por cadastrar o seu produto!</h2>
          <p>Agradecemos sua contribuição para nossa plataforma. Seu produto foi registrado com sucesso e agora aguarda análise da nossa equipe. Veja o que acontece a seguir:</p>
          <ul>
              <li><strong>Processo de Análise</strong>: Nossos administradores analisarão cuidadosamente o produto enviado para garantir que ele atenda aos nossos padrões de qualidade. Esse processo pode levar algum tempo, dependendo do número de envios que estamos processando no momento.</li>
              <li><strong>Aprovação ou Rejeição</strong>: Após a conclusão e aprovação da análise, e o envio do seu produto para avaliação, o valor especificado em TCM será creditado em sua carteira TCM caso o produto atenda aos nossos padrões de qualidade. (Você pode encontrar nosso endereço no rodapé do site.)</li>
              <li><strong>Tempo de Espera</strong>: O processo de revisão geralmente leva de algumas horas a alguns dias. Nos esforçamos para analisar todas as submissões o mais rápido possível.</li>
              <li><strong>Usando seu Saldo TCM</strong>: Após a aprovação, você poderá usar os TCM ganhos para comprar diversos produtos disponíveis em nossa loja. Basta adicionar os itens ao seu carrinho, prosseguir para o pagamento e o valor total será descontado da sua carteira TCM.</li>
          </ul>
          <p>Agradecemos por usar nossa plataforma. Nosso compromisso é proporcionar uma experiência perfeita e gratificante para nossos usuários. Em caso de dúvidas, entre em contato com nossa equipe de suporte.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}