{% extends "base.html" %}

{% block content %}

<section class="section-content padding-y" style="margin-top: -40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="info-box">
          <h2>Thank You for Registering Your Product!</h2>
          <p>We appreciate your contribution to our platform. Your product has been successfully registered and is now awaiting review by our team. Here’s what happens next:</p>
          <ul>
              <li><strong>Review Process</strong>: Our administrators will carefully review your product submission to ensure it meets our quality standards. This process can take some time, depending on the number of submissions we are currently handling.</li>
              <li><strong>Approval or Rejection</strong>: Once the review is complete and approved, and you sent us your product for review, the specified amount of TCM will be credited to your TCM wallet if the product matches our quality standards. (You can see our address in the site's footer)</li>
              <li><strong>Timeline</strong>: The review process usually takes between a few hours to several days. We strive to review all submissions as quickly as possible.</li>
              <li><strong>Using Earned TCM</strong>: After approval, you can use the TCM earned to shop for various products available in our store. Simply add items to your cart, proceed to checkout, and the total amount will be deducted from your TCM wallet.</li>
          </ul>
          <p>Thank you for using our platform. We are committed to providing a seamless and rewarding experience for our users. If you have any questions, feel free to reach out to our support team.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}