{% extends "base.html" %}

{% block content %}
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="info-box">
          <h2>Bem-vindo à nossa plataforma!</h2>
          <p>Nossa plataforma permite não apenas comprar produtos usando nossa moeda virtual, o TCM, como também ganhar TCM ao cadastrar seus próprios produtos. Veja como funciona:</p>
          <ul>
              <li><strong>Cadastre-se e faça login</strong>: Crie uma conta na plataforma e entre para acessar recursos adicionais.</li>
              <li><strong>Cadastre seus produtos</strong>: Depois de entrar, você pode cadastrar produtos informando detalhes como nome, categoria, descrição e imagens. Envie o produto para análise.</li>
              <li><strong>Análise do produto</strong>: Nossa equipe de administradores avaliará os produtos cadastrados e poderá aprová-los ou rejeitá-los com base em nossos padrões de qualidade.</li>
              <li><strong>Ganhe TCM</strong>: Se o seu produto for aprovado, você receberá uma quantidade de TCM como recompensa. O valor é definido pelo administrador durante a aprovação.</li>
              <li><strong>Use TCM para comprar</strong>: Utilize o TCM que você ganhou para adquirir produtos disponíveis em nossa loja. Basta adicionar itens ao carrinho, finalizar a compra e o total será debitado da sua carteira TCM.</li>
          </ul>
          <p>Ao cadastrar produtos na nossa plataforma, você pode ganhar TCM e usá-lo para aproveitar uma grande variedade de itens na loja. Comece a cadastrar hoje e aproveite nosso sistema exclusivo de recompensas!</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <article class="card-body">
            {% include "includes/alerts.html" %}
            <header class="mb-4"><h4 class="card-title">Cadastrar Produto</h4></header>
            <form enctype="multipart/form-data" action="#" method="POST">
              {% csrf_token %}
    
              <div class="form-row">
                <div class="col form-group">
                    <label>Nome do produto</label><br>
                    {{ product_form.product_name }}
                </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->
              <div class="form-row">
                <div class="col form-group">
                    <label>Categoria do produto</label>
                    {{ product_form.category }}
                </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Descrição</label><br>
                  {{ product_form.description }}<br>
                  <small>Conte os detalhes do seu produto e o seu estado de conservação.</small>
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                  <label>Enviar imagens do produto</label>
                  <input type="file" name="image" id="id_image" multiple class="form-control">
                </div> <!-- form-group end.// -->
              </div>
              <div class="terms-container">
                <input type="checkbox" class="terms-checkbox" id="id_terms" name="terms" required>
                <label class="terms-label" for="id_terms">
                    Eu aceito os <a href="{% url 'terms_of_use' %}">termos e condições</a>
                </label>
            </div>
            <br>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button>
              </div> <!-- form-group// -->      
            </form>

            <script>
              document.getElementById('id_images').addEventListener('change', function() {
                  var fileList = document.getElementById('file-list');
                  fileList.innerHTML = '';  // Clear any existing file names
                  for (var i = 0; i < this.files.length; i++) {
                      var file = this.files[i];
                      var listItem = document.createElement('div');
                      listItem.textContent = file.name;
                      fileList.appendChild(listItem);
                  }
              });
          </script>

          </article><!-- card-body.// -->
        </div> <!-- card .// -->
      </div>
    </div>
  </div>
</section>
{% endblock %}